<!-- HOMEPAGE -->
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Loan & Grades calculator</h2>
<br />
@Html.ActionLink("Loans", "Index", "Loan")
<br />
@Html.ActionLink("Grades", "Index", "Grades")


